APP_NAME=appname
APP_PORT=8080
APP_PREFORK=false
APP_DEBUG=false
APP_IMAGE_URL=image_url

DB_TYPE=pgsql
DB_HOST=hostname
DB_PORT=5432
DB_USER=username
DB_PASS=password
DB_NAME=dbanme
DB_SSLMODE=disable
DB_TIMEZONE=Asia/Jakarta
DB_DEBUG=false

TS_ACTIVE=true
TS_HOST=hostname
TS_PORT=8108
TS_KEY=api_key

JWT_SECRET=jwtsecret
JWT_ACCESS_TOKEN_EXPIRE=60
JWT_REFRESH_TOKEN_EXPIRE=1440